# direct dependencies
simaticai==2.3.0

joblib==1.4.2  # Transitive dependency from simaticai
matplotlib==3.9.1
numpy==1.24.2  # Transitive dependency from simaticai
pandas==2.2.0
scikit-learn==1.5.1

# Transitive dependencies from simaticai
attrs ==24.2.0
certifi ==2024.8.30
charset-normalizer ==3.4.0
coloredlogs ==15.0.1
flatbuffers ==24.3.25
humanfriendly ==10.0
idna ==3.10
jsonschema ==4.23.0
jsonschema-specifications ==2024.10.1
MarkupPy ==1.14
mpmath ==1.3.0
onnx ==1.17.0
onnxruntime ==1.20.1
packaging ==24.2
Parsley ==1.3
protobuf ==3.20.3
pyarrow ==18.1.0
PyYAML ==6.0.2
referencing ==0.35.1
requests ==2.32.3
rpds-py ==0.22.0
sympy ==1.13.3
urllib3 ==2.2.3

contourpy ==1.3.1
cycler ==0.12.1
fonttools ==4.55.1
kiwisolver ==1.4.7
pillow ==11.0.0
pyparsing ==3.2.0
python-dateutil ==2.9.0.post0
pytz ==2024.2
scipy ==1.14.1
six ==1.16.0
threadpoolctl ==3.5.0
tzdata ==2024.2
