# SPDX-FileCopyrightText: 2025 Siemens AG
#
# SPDX-License-Identifier: MIT

# direct dependencies
simaticai==2.9.0

matplotlib==3.10.5
pandas==2.3.1
scikit-learn==1.5.1

# Transitive dependencies from simaticai
attrs==26.1.0
certifi==2026.2.25
charset-normalizer==3.4.7
flatbuffers==25.12.19
idna==3.11
joblib==1.5.3
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
markuppy==1.18
ml-dtypes==0.5.4
mpmath==1.3.0
numpy==2.4.4
onnx==1.21.0
onnxruntime==1.24.4
opencv-python-headless==4.13.0.92
packaging==26.0
Parsley==1.3
platformdirs==4.9.4
protobuf==7.34.1
PyYAML==6.0.3
referencing==0.37.0
requests==2.33.1
rpds-py==0.30.0
setuptools==80.10.2
sympy==1.14.0
tomli==2.4.1
typing-extensions==4.15.0
urllib3==2.6.3
wheel==0.46.3

# Other transitive dependencies
contourpy==1.3.3
cycler==0.12.1
fonttools==4.61.1
kiwisolver==1.4.9
Pillow==12.2.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.1
six==1.17.0
threadpoolctl==3.6.0
tzdata==2025.2
