# SPDX-FileCopyrightText: 2025 Siemens AG
#
# SPDX-License-Identifier: MIT

# Direct dependencies
simaticai==2.7.0
matplotlib==3.10.3
numpy==2.2.6
opencv-python-headless==4.12.0.88
ultralytics==8.3.169

# Transitive dependencies from simaticai
attrs==25.3.0
certifi==2025.7.14
charset-normalizer==3.4.2
coloredlogs==15.0.1
flatbuffers==25.2.10
humanfriendly==10.0
idna==3.10
importlib-metadata==4.13.0
joblib==1.5.1
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
markuppy==1.18
mpmath==1.3.0
onnx==1.18.0
onnxruntime==1.22.1
packaging==25.0
parsley==1.3
pip==25.2
protobuf==6.32.0
pyyaml==6.0.2
referencing==0.36.2
requests==2.32.4
rpds-py==0.26.0
setuptools==80.9.0
sympy==1.14.0
tomli==2.2.1
typing-extensions==4.14.1
urllib3==2.5.0
wheel==0.45.1
zipp==3.23.0

# Transitive dependencies from ultralytics
contourpy==1.3.3
cycler==0.12.1
filelock==3.19.1
fonttools==4.59.1
fsspec==2025.7.0
jinja2==3.1.6
kiwisolver==1.4.9
markupsafe==3.0.2
networkx==3.5
opencv-python==4.12.0.88
pandas==2.3.1
pillow==11.3.0
psutil==7.0.0
py-cpuinfo==9.0.0
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2025.2
scipy==1.16.1
six==1.17.0
torch@https://download.pytorch.org/whl/cpu-cxx11-abi/torch-2.7.1%2Bcpu.cxx11.abi-cp312-cp312-linux_x86_64.whl#sha256=d06d422ac9bf250bbfc9b96921fc79354cc89f5ce6e5f98446fc4e90a66a23fb
torchvision@https://download.pytorch.org/whl/cpu/torchvision-0.22.1%2Bcpu-cp312-cp312-manylinux_2_28_x86_64.whl#sha256=b5fa7044bd82c6358e8229351c98070cf3a7bf4a6e89ea46352ae6c65745ef94
tqdm==4.67.1
tzdata==2025.2
ultralytics-thop==2.0.15
