# SPDX-FileCopyrightText: 2025 2025 Siemens AG
#
# SPDX-License-Identifier: MIT

# Dependencies used in entrypoint.py:
joblib==1.5.1
numpy==2.2.6
pandas==2.3.1

# Model dependencies:
scikit-learn==1.5.1

# Transitive dependencies of pandas:
pytz==2025.2
tzdata==2025.2

# Transitive dependency of scikit-learn:
scipy==1.16.1
threadpoolctl==3.6.0
