# SPDX-FileCopyrightText: Copyright (C) Siemens AG 2023
#
# SPDX-License-Identifier: MIT

--index-url https://download.pytorch.org/whl/cpu
--extra-index-url https://pypi.org/simple
# Direct dependencies
torch==2.7.0+cpu
torchvision==0.22.0+cpu
onnx==1.17.0
onnxruntime==1.17.3
numpy==1.24.4

# Transitive dependencies
Jinja2==3.1.6
MarkupSafe==3.0.2
coloredlogs==15.0.1
filelock==3.18.0
flatbuffers==25.2.10
fsspec==2025.3.2
humanfriendly==10.0
mpmath==1.3.0
networkx==3.4.2
packaging==25.0
protobuf==5.29.4
sympy==1.14.0
typing-extensions==4.13.2
Pillow==11.2.1
